*
{

  padding: 0;
  margin:0;
  box-sizing: border-box;
}
/* App.css */

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.conatct-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.field {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.field:focus {
  border-color: #007bff;
}

.conatct-button {
  resize: none;
  height: 100px;
}

.contact-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.conatct-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 700px) {
  form {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .field {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
